<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/> <!-- Note the closing '/' character -->
    <title>Title</title>
</head>
<body>
    <form method = 'post' action = '/hello'>
        <input type = 'text' name = 'coder' />
            <select name = 'language'>
                <option value = 'English'>English</option>
                <option value = 'French'>French</option>
                <option value = 'Spanish'>Spanish</option>
                <option value = 'German'>German</option>
                <option value = 'Kazakh'>Kazakh</option>
            </select>
        <input type = 'submit' value = 'Greet Me!' />
    </form>
</body>
</html>